/*
 *
 *= require_tree .
 *= require_self

 */

@import "bootstrap-sprockets";
@import "bootstrap";


.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.border-bottom-dotted{
	border-bottom: 1px dotted;
}

.borde-superior{
	border-top: 1px solid;
}

#enlaces-pie-imagen{
	min-height: 200px;
	.enlace, .enlace:hover {
		font-size: 40px;
		text-transform: uppercase;
		color: inherit;
		background: inherit;
		text-decoration: none;

	}
}

#contenido-central{
	border-top: 10px solid black;
	#header{
		font-weight: bold;
		text-transform: uppercase;
		font-size: 16px;
		margin-top: 80px;
		#menu{
			margin-top: 40px;
		}
	}
}

