<div id="header">
	<div class="row-fluid">
		<div class="col-sm-3 float-left nopadding">
			<%= image_tag("logo.jpeg") %>
		</div>
		<div class="col-sm-9 float-right nopadding"> 
			<%= render :partial => 'public_menu' %>
		</div>
	</div>
</div>