<ul id="menu" class="nav navbar-nav navbar-right">
	  <li><a href="/">About</a></li>
	  <li><a href="/">Works</a></li>
	  <li><a href="/">Illustration</a></li>
	  <li><a href="/">Design</a></li>
	  <li><a href="/">Art</a></li>
	  <li><a href="/">Contact</a></li>
	  <li><a href="/">Shop</a></li>
</ul>