

<div class="row-fluid">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<div class="row">
			<div class="col-sm-12">
				<%= image_tag("welcome.jpeg", :class => 'img-responsive') %>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<%= image_tag("slide.jpeg", :class => 'img-responsive') %>
			</div>
		</div>
		<div id="enlaces-pie-imagen" class="row">
			<div class="col-sm-4">
				<a class="enlace borde-superior"> Mailing List </a>
			</div>
			<div class="col-sm-4">
				<a class="enlace borde-superior">Contact Us!</a>
			</div>
			<div class="col-sm-4">
				<a class="enlace borde-superior">Visit Our Shop</a>
			</div>
		</div>

	</div>
	<div class="col-sm-1"></div>
</div>