<!DOCTYPE html>
<html>
  <head>
    <title>Vivaelcarro</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row-fluid">
      <div class="col-sm-1"></div>
      <div id="contenido-central" class="col-sm-10 nopadding">
        <div class="row-fluid">
          <div class="col-sm-12 border-bottom-dotted">
            <%= render :partial => 'public_header'%>
          </div>
        </div>
        <%= yield %>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </body>
</html>
